@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Jacques+Francois&family=Knewave&family=Kirang+Haerang&display=swap');

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
}